.slideshow-container {
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
    margin-bottom: 40px;
  }
  
  .slide {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .slide.active {
    display: block;
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }
  
  .slide-content {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    padding: 15px;
  }
  
  .slide-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .slide-content p {
    font-size: 16px;
  }

  .slide-content button{
    width: 150px;
    height: 50px;
    border-radius: 4px;
    border: none;
    color: #fff;
    background-color: #17153a;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  @media (max-width: 768px) {
    .slideshow-container {
      height: 300px;
    }
  
    .slide-content h2 {
      display: none;
    }
  
    .slide-content p {
      display: none;
    }

    .slide-content {
     background-color: transparent; 
     margin: -18px -20px;
     }
  
    .slide-content button{
      width: 150px;
      height: 50px;
    }
  }
